bench
bench_ecmult
bench_internal
noverify_tests
tests
exhaustive_tests
precompute_ecmult_gen
precompute_ecmult
ctime_tests
ecdh_example
ecdsa_example
schnorr_example
ellswift_example
musig_example
*.exe
*.so
*.a
*.csv
*.log
*.trs
*.sage.py

*.pyc

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

# cargo default target dir
target/

/guix-build-*

### CMake
/CMakeUserPresets.json
# Default CMake build directory.
/build
