Source: bitgesell-qt
Section: misc
Priority: optional
Maintainer: Mathias van Orton <it@bitgesell.ca>
Build-Depends: debhelper (>=11~), g++-11, pkg-config, dh-autoreconf, libevent-dev, libssl-dev, fakeroot, wget
Standards-Version: 4.1.4
Homepage: https://github.com/wu-emma/bitgesell

Package: bitgesell-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BGL is an experimental digital currency that enables instant payments to anyone, anywhere in the world
 BGL is an experimental digital currency that enables instant payments to anyone,
 anywhere in the world. BGL uses peer-to-peer technology to operate with no central authority:
 managing transactions and issuing money are carried out collectively by the network.
 BGL Core is the name of open source software which enables the use of this currency.

Package: bitgesell-qt-dbg
Architecture: any
Depends: bitgesell-qt (= ${binary:Version}), ${misc:Depends}
Description: BGL is an experimental digital currency that enables instant payments to anyone, anywhere in the world
 BGL is an experimental digital currency that enables instant payments to anyone,
 anywhere in the world. BGL uses peer-to-peer technology to operate with no central authority:
 managing transactions and issuing money are carried out collectively by the network.
 BGL Core is the name of open source software which enables the use of this currency.
