#!/usr/bin/make -f

builddir = $(shell pwd)
destdir = $(builddir)/debian/bitgesell-qt

CC  = gcc-11
CXX = g++-11

.PHONY: distrib download-distrib unpack-distrib libevent miniupnpc

%:
	dh $@ --buildsystem=cmake --builddirectory=build

build: distrib

distrib: unpack-distrib boost libevent miniupnpc

download-distrib: distrib/boost_1_74_0.tar.gz distrib/libevent-2.1.12-stable.tar.gz distrib/miniupnpc-2.1.orig.tar.gz

unpack-distrib: download-distrib
	cd distrib && \
	for a in *.tar.*; do                                 \
	    echo "==> extracting $$a";                      \
	    tar -xf "$$a" || { echo "Failed on $$a"; exit 1; }; \
	done


distrib/boost_1_74_0.tar.gz:
	mkdir -p distrib
	wget -nv -O $@ \
	  https://archives.boost.io/release/1.74.0/source/boost_1_74_0.tar.gz
	echo "afff36d392885120bcac079148c177d1f6f7730ec3d47233aa51b0afa4db94a5  $@" | sha256sum -c -

distrib/libevent-2.1.12-stable.tar.gz:
	mkdir -p distrib/
	wget -O$@ https://github.com/libevent/libevent/releases/download/release-2.1.12-stable/libevent-2.1.12-stable.tar.gz

distrib/miniupnpc-2.1.orig.tar.gz:
	mkdir -p distrib/
	wget -O$@ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/miniupnpc/2.1-1/miniupnpc_2.1.orig.tar.gz

boost:
	cd distrib/boost_1_74_0 && \
		./bootstrap.sh CC=$(CC) CXX=$(CXX) --prefix=$(builddir)/distrib/tmp/libboost && \
		./b2 install --prefix=$(builddir)/distrib/tmp/libboost


libevent:
	cd distrib/libevent-2.1.12-stable && \
		./configure CC=$(CC) CXX=$(CXX) --disable-debug-mode --disable-samples --with-gnu-ld --disable-static \
			--prefix=$(builddir)/distrib/tmp/libevent && \
		make clean && \
		make && \
		make install

miniupnpc:
	cd distrib/miniupnpc-2.1 && \
		make && \
		make DESTDIR=$(builddir)/distrib/tmp/miniupnpc install

override_dh_auto_configure:
	make -C depends

	dh_auto_configure -- \
	  -DCMAKE_BUILD_TYPE=Release \
	  -DCMAKE_INSTALL_PREFIX=/usr \
	  -DBUILD_GUI=ON \
	  -DCMAKE_PREFIX_PATH=$(builddir)/distrib/tmp/libboost:$(builddir)/distrib/tmp/libevent:$(builddir)/distrib/tmp/miniupnpc \
	  -DBOOST_ROOT=$(builddir)/distrib/tmp/libboost \
      -DBoost_NO_SYSTEM_PATHS=ON

override_dh_auto_test:
	DEB_BUILD_OPTIONS=nocheck dh_auto_test

override_dh_install:
	dh_install
	mkdir -p $(destdir)/usr/lib
	cp -a distrib/tmp/libboost/lib/* $(destdir)/usr/lib/
	cp -a distrib/tmp/libevent/lib/* $(destdir)/usr/lib/
	cp -a distrib/tmp/miniupnpc/usr/lib/* $(destdir)/usr/lib/

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib
