Source: bitgesell
Section: misc
Priority: optional
Maintainer: Emma Wu <wuemma@protonmail.com>
Build-Depends: debhelper (>=11~), g++-8, pkg-config, dh-autoreconf, libevent-dev, libssl-dev, fakeroot, wget
Standards-Version: 4.1.4
Homepage: https://github.com/wu-emma/bitgesell

Package: bitgesell
Architecture: any
Depends: libc6 (>= 2.27), libstdc++6 (>= 8.4.0), libbz2-1.0 (>= 1.0.6), liblzma5 (>= 5.2.2), zlib1g (>= 1:1.1.4),
 openssl, perl-modules-5.26 | perl-modules-5.28 | perl-modules-5.30, ${misc:Depends}
Description: BGL is an experimental digital currency that enables instant payments to anyone, anywhere in the world
 BGL is an experimental digital currency that enables instant payments to anyone,
 anywhere in the world. BGL uses peer-to-peer technology to operate with no central authority:
 managing transactions and issuing money are carried out collectively by the network.
 BGL Core is the name of open source software which enables the use of this currency.
